<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fale Conosco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="." method="post">
        <label for="name">Nome</label><br/>
        <input type="text" name="name" id="name"><br/>
        <label for="message">Message</label><br/>
        <textarea name="message" id="message" cols="30" rows="10"></textarea><br/>
        <input type="submit" value="enviar">
    </form>
    
</body>
</html>